* {
  box-sizing: border-box;
}

.back {
  width: 100vw;
  min-height: 100vh;
  background-color: #333;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container {
  display: flex;
  width: 80vw;
  flex-flow: column nowrap;
  justify-content: center;
}

.input {
  width: 300px;
  height: 32px;
  margin: 24px auto;
  outline: none;
}

.password {
  margin-top: 0px;
}

.title {
  color: #fff;
  font-size: 24px;
  margin: 0 auto;
}

.submit {
  color: #fff;
  padding: 12px 24px;
  margin: 0 auto;
  color: #000;
}

.error {
  color: red;
  font-size: 18px;
  margin: 0 auto;
}

.link {
  margin: 12px auto 0;
  color: blue;
}

a {
  text-decoration: none;
  font-size: 12px;
}

